@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Roboto&display=swap');

#mainNavBar{
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
}
#mainNavBar #logo{
    display: flex;
    align-content: flex-start;
    align-items: center;
    padding-left: 2vw;

}
#mainNavBar #mainNavBarLinks{
    display: flex;
    width: 50%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 2vw;
}
#mainNavBar #mainNavBarLinks .link{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 24px;
    padding: 1vw;

}
#mainNavBar #mainNavBarLinks .SignupLink{
    background-color: #c4c4f8;
    border-radius: 45px;
    padding: 15px 30px 15px ;
}
@media only screen and (min-width: 1430px) {
    #mainNavBar #mainNavBarLinks #MenuIcon{
        display: none;
        position: absolute;
        top:20px;
        left:20px;
    }  
    #LinkContainer{
        display: flex !important;
    }
    #mainNavBarLinks{
        background-color: rgba(0, 0, 0, 0);
    }   

}
@media only screen and (max-width: 1429px) {
    #mainNavBar #mainNavBarLinks{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        box-sizing: border-box;
    }
    #mainNavBar #mainNavBarLinks #LinkContainer{
        display: none;
        position: absolute;
        padding-top: 25vh;
        top:0;
        right:0;
        width: 300px;
        height: 100%;
        background-color: white;
        box-sizing: border-box;

    }  
    #LinkContainer .link{
        display: block;
        text-align: center;
        margin: auto;
        width: 70%;
    }
    #mainNavBar #mainNavBarLinks #MenuIcon{
        position: absolute;
        top:20px;
        right:20px;
        
    }   
}

